In [10]:
import glob
import pandas as pd

# get data file names
path =r'C:\Users\AyanSau\Desktop\ColemanFURNITURE\Coleman_ALLparsedFILES'
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
big_df = pd.concat(dfs, ignore_index=True)
big_df.head()

,web-scraper-order,web-scraper-start-url,nnn,ppp,name,price,Name,Price,Category,Leasable,price2
0,1635225915-16183,https://colemanfurniture.com/accents/accent-mi...,"Eternity Grey Metal Frame 36"" Rectangle Large ...",$529.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1635225915-15998,https://colemanfurniture.com/accents/accent-mi...,Dion Antique And Silver Leaf Rectangular Mirror,$1049.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1635225915-16031,https://colemanfurniture.com/accents/accent-mi...,"Modern White 60"" Mirrored TV Stand",$1014.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1635225915-15545,https://colemanfurniture.com/accents/accent-mi...,Langford Large Wood Mirror,$1196.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1635225915-14581,https://colemanfurniture.com/accents/accent-mi...,"MR4046S Eternity 42"" Round Silver Mirror",$529.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
big_df.isnull().sum()

web-scraper-order        358731
web-scraper-start-url    358731
nnn                      398187
ppp                      398194
name                     512026
price                    512019
Name                     192751
Price                    192751
Category                 192751
Leasable                 551482
price2                   551328
dtype: int64

In [12]:
big_df["name"]=big_df["name"].fillna(big_df["nnn"])
big_df["name"]=big_df["name"].fillna(big_df["Name"])
big_df["price"]=big_df["price"].fillna(big_df["ppp"])
big_df["price"]=big_df["price"].fillna(big_df["Price"])

In [13]:
big_df.isnull().sum()

web-scraper-order        358731
web-scraper-start-url    358731
nnn                      398187
ppp                      398194
name                          0
price                         0
Name                     192751
Price                    192751
Category                 192751
Leasable                 551482
price2                   551328
dtype: int64

In [14]:
big_df=big_df[["name","price","Category","Leasable"]]
big_df

,name,price,Category,Leasable
0,"Eternity Grey Metal Frame 36"" Rectangle Large ...",$529.00,NaN,NaN
1,Dion Antique And Silver Leaf Rectangular Mirror,$1049.00,NaN,NaN
2,"Modern White 60"" Mirrored TV Stand",$1014.00,NaN,NaN
3,Langford Large Wood Mirror,$1196.80,NaN,NaN
4,"MR4046S Eternity 42"" Round Silver Mirror",$529.00,NaN,NaN
...,...,...,...,...
551477,Trent Antique Black 2 Drawer Nightstand,$375.00,NaN,NaN
551478,Stonebrook Distressed Antique White Nightstand,$566.00,NaN,NaN
551479,Osamu Walnut Nightstand,$669.00,NaN,NaN
551480,Weaver Coffee And Antique Gray Nightstand,$279.00,NaN,NaN
551481,Danielle White Nightstand,$719.00,NaN,NaN

In [15]:
big_df.to_excel("Coleman.xlsx")

In [40]:
def categorize(string):
    
    string= "".join(str(string).split()).lower()
    if "mirror" in string:
        return "Mirror"
    elif "demilune" in string or "seat" in string or "chair" in string or "bench" in string or "stool" in string or "table" in string or "bed" in string or "banquette" in string or "chest" in string or "shelf" in string or "rack" in string or "hang" in string or "cabinet" in string or "storage" in string or "desk" in string:
        return "Furniture"
    elif "pillow" in string or "throw" in string:
        return "Pillow"
    elif "mat" in string:
        return "Matress"
    else:
        return "Decorative Items"

In [41]:
def is_leasable(string):
    if string=="Decorative Items" or string=="Pillow":
        return False
    else:
        return True

In [42]:
big_df["Category"]=big_df["name"].apply(categorize)
big_df["Leasable"]=big_df["Category"].apply(is_leasable)

In [43]:
big_df.to_excel("Coleman.xlsx")