In [1]:
import pandas as pd

df=pd.read_excel("GameStop.xlsx").drop("Unnamed: 1",axis=1)
df.head()

                                             Product
0        Fortnite Oro Legendary Series Action Figure
1  Super Mario Bros. Mario and Friends Multi-Pack...
2  Legend of Zelda: Breath of the Wild Link Colle...
3  Super Mario Bros. Deluxe Mushroom Kingdom Cast...
4  Super Mario Odyssey World of Nintendo Action F...

In [2]:
sample=df["Product"][0]
sample.lower().split()

['fortnite', 'oro', 'legendary', 'series', 'action', 'figure']

In [3]:
leasable_list=["controller","nintendo switch","flight control system","controllers","joy stick","headset","headsets","headphone",
"headphones","tv","webcam","webcams","charger","chargers","projector","projectors","microphone","microphones",
"keyboard","keyboards","soundbar","soundbars","sound bar","desktop","desktops","earbuds","router","routers","cable",
              "mouse","joystick","monitor","monitors","speaker","speakers","chair","chairs","motherboard","tablet","camera"]

nonleasable_list=["gift card","gift cards","membership","memberships","card","cards","sticker","stickers","pack","packs",
                  "deck","decks","box","boxes","figure","figures","vehicle","vehicles","pin","pins","figpin","figpins",
                 "statue","statues","posket","poskets","belt","belts","cufflins","t-shirt","t-shirts",
                 "pop!","game","games","nerf","mario","water","bottle","bottles","mug","mugs","token","kit","booster","tokens"
                 "kits","boosters","soda:","tank top","bat","keychain","keychains","upgrade","upgrades"
                 "mask","buckle","glove","gloves","gift","doll","car","plush","sword","lightsabers"]

In [4]:
def find_leasable_type(prod):
    
    for i in str(prod).lower().split():
        if i in leasable_list:
            return True
        elif i in nonleasable_list:
            return False
        else:
            continue

In [5]:
def find_category(prod):
    for i in str(prod).lower().split():
        if i in leasable_list:
            return i
        elif i in nonleasable_list:
            return i
        else:
            continue

In [6]:
df["Leasable"]=df["Product"].apply(find_leasable_type)
df.head()

                                             Product Leasable
0        Fortnite Oro Legendary Series Action Figure    False
1  Super Mario Bros. Mario and Friends Multi-Pack...    False
2  Legend of Zelda: Breath of the Wild Link Colle...    False
3  Super Mario Bros. Deluxe Mushroom Kingdom Cast...    False
4  Super Mario Odyssey World of Nintendo Action F...    False

In [7]:
df["Product_type"]=df["Product"].apply(find_category)
df.head()

                                             Product Leasable Product_type
0        Fortnite Oro Legendary Series Action Figure    False       figure
1  Super Mario Bros. Mario and Friends Multi-Pack...    False        mario
2  Legend of Zelda: Breath of the Wild Link Colle...    False       figure
3  Super Mario Bros. Deluxe Mushroom Kingdom Cast...    False        mario
4  Super Mario Odyssey World of Nintendo Action F...    False        mario

In [8]:
df[df["Leasable"]==True]

                                                 Product Leasable Product_type
63     Roblox Desktop Series Collection -(STYLES MAY ...     True      desktop
406    Idolmaster Cinderella Girls Karen Hojo Dressy ...     True        chair
887     Truebuds PRO Wireless Earbuds with Charging Case     True      earbuds
888                          Half Corgi Earbuds with Mic     True      earbuds
890                             Fat Cat Earbuds with Mic     True      earbuds
...                                                  ...      ...          ...
25492                      Android 2-in-1 Tablet 10.1 in     True       tablet
25493                    CORE Power Portable USB Charger     True      charger
25494  Rugged Book Go Keyboard And Case For iPad Pro ...     True     keyboard
25495  Pro Keys Bluetooth Keyboard Case for iPad Air ...     True     keyboard
25496  Slim Book Go Bluetooth Keyboard And Case for i...     True     keyboard

[3454 rows x 3 columns]

In [9]:
len(df)

25501

In [10]:
len(df[df["Leasable"]==True])+len(df[df["Leasable"]==False])

14432

In [11]:
df.to_excel("classified.xlsx")