In [24]:
import pandas as pd

df=pd.read_excel("comined_data.xlsx").drop("Unnamed: 0",axis=1)
df.head()

,web-scraper-order,web-scraper-start-url,names,Category,Sub-Category,IS_Leasable
0,1632245314-185619,https://www.denniskirk.com/atv/accessories/100...,FXR Racing Black 20 in. CX Sticker - 191667-10...,atv,accessories,0.0
1,1632245394-187331,https://www.denniskirk.com/atv/accessories/100...,Safety Vehicle Emblem Safety Flag with 6 Foot ...,atv,accessories,0.0
2,1632245304-185446,https://www.denniskirk.com/atv/accessories/100...,Moose Inner Handguard Mounts for 7/8 in. Bars ...,atv,accessories,0.0
3,1632245288-185079,https://www.denniskirk.com/atv/accessories/100...,Factory Effex Sponsor Kit C - 10-68004,atv,accessories,0.0
4,1632245382-187045,https://www.denniskirk.com/atv/accessories/100...,Fuse Powersports Black Bottom Mounting Bracket...,atv,accessories,0.0

In [25]:
df.groupby("Sub-Category").count()

,web-scraper-order,web-scraper-start-url,names,Category,IS_Leasable
Sub-Category,,,,,
100.ipp,232051,55270,232051,232051,0
accessories,8586,1931,8586,8586,8586
apparel,16795,4130,16795,16795,16795
exhaust,7369,942,7369,7369,7369
helmets,13820,2317,13820,13820,13820
tires,3846,940,3846,3846,3846

In [26]:
def categorize(string):
    if string=="100.ipp":
        string= "".join(str(string).split()).lower()
        if "man" in string or "woman" in string or "girl" in string or "boy" in string or "jacket" in string or "pant" in string or "shirt" in string or "mask" in string or "glove" in string or "strap" in string or "jacket" in string or "jersey" in string or "socks" in string or "shoe" in string or "boot" in string or "neck" in string or "brace" in string or "beanie" in string or "guard" in string or "pad" in string or "protect" in string or "hood" in string or "vest" in string or "top" in string or "tank" in string or "hat" in string or "gait" in string or "zip" in string or "pen" in string:
            return "apparel"
        elif "helmet" in string or "cam" in string or "goggles" in string or "visor" in string:
            return "helmets"
        elif "tire" in string or "wheel" in string or "tube" in string:
            return "tires"
        elif "exhaust" in string or "silencer" in string or "arrestor" in string or "muffler" in string or "gasket" in string:
            return "exhaust"
        else:
            pass
    else:
        return string

In [27]:
df["Sub-Category"]=df["Sub-Category"].apply(categorize)

In [28]:
df.groupby("Sub-Category").count()

,web-scraper-order,web-scraper-start-url,names,Category,IS_Leasable
Sub-Category,,,,,
accessories,8586,1931,8586,8586,8586
apparel,16795,4130,16795,16795,16795
exhaust,7369,942,7369,7369,7369
helmets,13820,2317,13820,13820,13820
tires,3846,940,3846,3846,3846

In [29]:
df.shape

(282467, 6)

In [30]:
df.to_excel("DennisKrik.xlsx")