In [1]:
import pandas as pd

df=pd.read_excel("YETI Coolers_Categories.xlsx")
df.head()

                                              Name   Category
0               RAMBLER 64 OZ BOTTLE WITH CHUG CAP  Drinkware
1               RAMBLER 36 OZ BOTTLE WITH CHUG CAP  Drinkware
2            RAMBLER 18 OZ BOTTLE WITH HOTSHOT CAP  Drinkware
3  RAMBLER 16 OZ STACKABLE PINT WITH MAGSLIDER LID  Drinkware
4             RAMBLER 14 OZ MUG WITH MAGSLIDER LID  Drinkware

In [40]:
def categorize(string):
    string= "".join(str(string.lower()).split())
    if "bottle" in string or "tumbler" in string or "lunch" in string or "lowball" in string or "can" in string:
        return False
    elif "mug" in string or "cup" in string or "plug" in string or "bowl" in string or "blanket" in string or "bed" in string:
        return False
    elif "cooler" in string or "chair" in string:
        return True
    elif "bucket" in string:
        return True
    elif "ice" in string and "bucket" not in string:
        return False
    elif "sticker" in string or "decal" in string or "patch" in string:
        return False
    elif "lock" in string or "basket" in string or "cushion" in string or "zinger" in string:
        return False
    elif "lid" in string or "cap" in string:
        return False
    elif "duffel" in string or "backpack" in string or "luggage" in string or "belt" in string or "hoodie" in string or "cube" in string or "tote" in string:
        return False
    elif "jug" in string:
        return False
    elif "mount" in string or "tool" in string or "holder" in string or "holster" in string:
        return False
    elif "t-shirt" in string or "sleeve" in string or "tshirt" in string or "neck" in string or "hat" in string or "badge" in string or "pullover" in string or "beanie" in string or "jersey" in string:
        return False
    elif "mount" in string:
        return False
    else:
        pass

In [41]:
df["Leasable"]=df["Name"].apply(categorize)
df.head()

                                              Name   Category Leasable
0               RAMBLER 64 OZ BOTTLE WITH CHUG CAP  Drinkware    False
1               RAMBLER 36 OZ BOTTLE WITH CHUG CAP  Drinkware    False
2            RAMBLER 18 OZ BOTTLE WITH HOTSHOT CAP  Drinkware    False
3  RAMBLER 16 OZ STACKABLE PINT WITH MAGSLIDER LID  Drinkware    False
4             RAMBLER 14 OZ MUG WITH MAGSLIDER LID  Drinkware    False

In [42]:
len(df)

1033

In [43]:
df.isnull().sum()

Name         0
Category     0
Leasable    47
dtype: int64

In [44]:
df.to_excel("Yeti_cooler_classifier.xlsx")